<!doctype html>
<html>
  <head>
    <script src="/lib/jquery-3.1.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/pixi.min.js"></script>
    <script src="/models/canvas.js"></script>
    <script src="/models/controller.js"></script>
    <script src="/models/clientsocket.js"></script>
    <script src="/models/publisher.js"></script>
    <script src="/lib/uuid.js"></script>
    <link href="/css/master.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/game.css" rel="stylesheet" type="text/css" media="all" />
    <script>
      $(document).ready(function() {
        //Create a Publisher
        var publisher = new Publisher();

        var clientSocket = new ClientSocket(io());
        clientSocket.Listen(publisher);

        //Initialize the canvas
        var canvas = new Canvas(publisher);
        canvas.Show();

        //Tell the server to add "Bob" to the game
        clientSocket.AddPlayer("Bob");

        //draw bob, wires up his controller
        var controller = new Controller(clientSocket);
        window.addEventListener("keydown", controller.keyDown.bind(controller), false);
        window.addEventListener("keyup", controller.keyUp.bind(controller), false);
      });
    </script>
  </head>
  <body>
    <div id="pageContainer">
      <div id="gameContainer"></div>
    </div>
  </body>
</html>
