<!doctype html>
<html>
  <head>
    <script src="/lib/jquery-3.1.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/pixi.min.js"></script>
    <script src="/models/game.js"></script>
    <script src="/models/player.js"></script>
    <script src="/models/controller.js"></script>
    <script src="/lib/uuid.js"></script>
    <link href="/css/master.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/game.css" rel="stylesheet" type="text/css" media="all" />
    <script>
      $(document).ready(function() {
        var socket = io();

        //Create a new game
        var game = new Game(socket);

        //Connect a controller to the game
        var controller = new Controller();
        window.addEventListener("keydown", controller.keyDown.bind(controller), false);
        window.addEventListener("keyup", controller.keyUp.bind(controller), false);
        game.connectController(controller);

        //Add a player to the game
        var player = new Player("test");
        game.addPlayerToGame(player);

        //start the game
        game.start();

        //socket
        socket.on("update players", function(players) {
          game.updatePlayers(players);
        });
      });
    </script>
  </head>
  <body>
    <div id="pageContainer">
      <div id="gameContainer"></div>
    </div>
  </body>
</html>
